body,html{
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url(./assets/1043977.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.descricao{
    margin: auto;
    display: block;
}